# Python
__pycache__/
*.pyc

# Conda
.env
.conda

# Jupyter
.ipynb_checkpoints/

# Data
data/
results/
logs/

# Large sequence files
*.gb
*.fasta
*.fa
*.fastq
*.fq
*.gz
*.zip

# Temporary files
tmp/
temp/
chloroplast_taxonomy_dataset/

cgas/
genome_list.txt
module2_annotations/
references/
test_pga_run/
tools/
genome_sizes.csv
